body
{
  background-image: url(img/N9-1280.jpg);
  background-repeat:no-repeat;
  background-position:top;
  color: #E6EBFB;
}


th
{
    //font-weight: bold;
    color: #E6EBFB;
    //padding-left: 3px;
    background-image: url(img/bg/bg1.gif);
    //text-align:left;
}


td
{
    //text-align: center;
    color: #E6EBFB;
    background-image: url(img/bg/bg3.gif);
}
