{% extends "ingame_base.html" %}

{% load i18n %}

{% load tmp_filters %}

{% block buildingsview_class %}active{% endblock %}

{% block content %}
{% if prices %}
<div class="container">
	<div class="row">
		<div class="span4 offset1">
			<h3>{{target.index|buildingname}}</h3>
			<div class="manual">
			<img src="{{ STATIC_URL }}img/buildings/{{target.index}}.jpg" width="200" style="float: left"/>
			{{target.index|buildingbrief}}
			</div>
		</div>
		<div class="span4">
			<table class="table">
			<tr>
				<th>{% trans "Level" %}</th>
				<th width="1">{% trans "RESOURCE_0" %}</a></th>
				<th width="1">{% trans "RESOURCE_1" %}</a></th>
				<th width="1">{% trans "RESOURCE_2" %}</a></th>
			</tr>
			{% for price in prices %}
			<tr>
				<td>{{forloop.counter}}</td>
				<td width="1">{{price.tab.0}}</td>
				<td width="1">{{price.tab.1}}</td>
				<td width="1">{{price.tab.2}}</td>
			</tr>
			{% endfor %}
			</table>
		</div>
	</div>
</div>
{% else %}
<div class="container">
	<div class="row">
		<div class="span10 offset1">
			<table class="table">
			<tr>
				<th width="1">{% trans "View" %}</th>
				<th width="1">{% trans "Name" %}</th>
				<th>{% trans "Brief" %}</th>
			</tr>
			{% for building in buildings %}
			<tr onclick="document.location.href='?bid={{building.index}}'">
				<td><img src="{{ STATIC_URL }}img/buildings/{{building.index}}.jpg" width="80"/></td>
				<td style="white-space: nowrap">{{building.index|buildingname}}</td>
				<td>{{building.index|buildingbrief}}</td>
			</tr>
			{% endfor %}
			</table>
		</div>
	</div>
</div>
{% endif %}
{% endblock %}
