{% extends "ingame_base.html" %}

{% load i18n %}

{% block codes_class %}active{% endblock %}

{% block content %}
<div class="navbar navbar-inverse">
	<div class="navbar-inner">
		<ul class="nav">
			<li
			{% if name == "Planet" and blockly_code != None %}
				class="active"
			{% endif %}
				><a href="/ingame/codes/planets/blocks.html">{% trans "Planets" %} : {% trans "Blocks" %}</a></li>
			<li 
			{% if name == "Planet" and script != None %}
				class="active"
			{% endif %}
				><a href="/ingame/codes/planets/text.html">{% trans "Planets" %} : {% trans "Script" %}</a></li>
			<li 
			{% if name == "Fleet" and blockly_code != None %}
				class="active"
			{% endif %}
				><a href="/ingame/codes/fleets/blocks.html">{% trans "Fleets" %} : {% trans "Blocks" %}</a></li>
			<li 
			{% if name == "Fleet" and script != None %}
				class="active"
			{% endif %}
				><a href="/ingame/codes/fleets/text.html">{% trans "Fleets" %} : {% trans "Script" %}</a></li>
		</ul>
	</div>
</div>
<div class="container">
<div class="row">
{% if tutosText %}
<div class="span4 offset1 tutorial">{{tutosText|safe}}</div>
{% endif %}
</div>
</div>
{% block code_content %}
{% endblock %}
{% endblock %}