{% extends "base.html" %}

{% load i18n %}

{% block body %}

<div class="container">
<h1>Neutryos</h1>
<h2>DroneWars</h2>
<div class="row">
	<div class="span6">
		<form method="post">
			{% csrf_token %}
			<fieldset>
				<legend>{% trans "Log in" %}</legend>
				{{ logForm.as_p }}
				<input class="btn btn-success" type="submit" value="{% trans "Log in" %}" name="login_action">
				{% if logMessage %}
				<p class="text-error">{{logMessage}}<p></p>
				{% endif %}
			</fieldset>
		</form>
	</div>

	<div class="span6">
		<form method="post">
			{% csrf_token %}
			<fieldset>
				<legend>{% trans "Create account" %}</legend>
				{{ subForm.as_p }}
				<input class="btn btn-success" type="submit" value="{% trans "Register" %}" name="subscribe_action">
				{% if regMessage %}
					{% if regMessageState %}
						<p class="text-success">{{regMessage}}<p></p>
					{% else %}
						<p class="text-error">{{regMessage}}<p></p>
					{% endif %}
				{% endif %}
			</fieldset>
		</form>
	</div>
	
	{% if False %}
	<div>
		<div class="manual">{% trans "ABOUT_TEXT" %}</div>
	</div>
	{% endif %}
</div>
</div>
{% endblock %}