{% extends "base.html" %}

{% load i18n %}

{% block body %}
			<header>
			</header>
			<div class="navbar navbar-inverse navbar-static-top">
				<div class="navbar-inner">
					<div class="container">
							<ul class="nav">
								<li class="{% block codes_class %}tab{% endblock %}"><a href="/ingame/codes.html">{% trans "Command" %}</a></li>
								<li class="{% block planets_class %}tab{% endblock %}"><a href="/ingame/planets.html">{% trans "Planets" %}</a></li>
								<li class="{% block fleets_class %}tab{% endblock %}"><a href="/ingame/fleets.html">{% trans "Fleets" %}</a></li>
								<li class="{% block reports_class %}tab{% endblock %}"><a href="/ingame/reports.html">{% trans "Reports" %}</a></li>
								<li class="{% block score_class %}tab{% endblock %}"><a href="/ingame/score.html">{% trans "Score" %}</a></li>
								<li class="divider-vertical"></li>
								<li class="{% block ticket_class %}tab{% endblock %}"><a href="/ingame/ticket_list.html">{% trans "Tickets" %}</a></li>
								<li><a href="/" class="tab">{% trans "Log out" %}</a></li>
							</ul>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					{% if helpMessage %}
					<div class="span4 offset1 tutorial">{{helpMessage|safe}}</div>
					{% endif %}
				</div>
			</div>
			{% block content %}{% endblock %}

			<!--
				<footer>
				<p>
					&copy; Copyright  by Loïc HAMOT
				</p>
			</footer>
			-->
{% endblock %}