{% extends "base.html" %}

{% load i18n %}

{% load l10n %}

{% load tmp_filters %}

{% block body %}
			<header>
			</header>
			<nav class="navbar navbar-inverse" role="navigation">
					<div class="container">
						<ul class="nav navbar-nav">
							<li class="{% block codes_class %}tab{% endblock %}"><a href="/ingame/codes.html">{% trans "Command" %}</a></li>
							<li class="{% block planets_class %}tab{% endblock %}"><a href="/ingame/planetlist.html">{% trans "Planets" %}</a></li>
							<li class="{% block fleets_class %}tab{% endblock %}"><a href="/ingame/fleetlist.html">{% trans "Fleets" %}</a></li>
							<li class="{% block skills_class %}tab{% endblock %}"><a href="/ingame/skilllist.html">{% trans "Skills" %}</a></li>
							<li class="{% block reports_class %}tab{% endblock %}"><a href="/ingame/reports.html">{% trans "Reports" %}</a></li>
							<li class="{% block score_class %}tab{% endblock %}"><a href="/ingame/score.html">{% trans "Score" %}</a></li>
							<!--<li class="{% block account_class %}tab{% endblock %}"><a href="/ingame/account.html">{% trans "Account" %}</a></li>-->
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Informations" %}<b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="/ingame/buildings.html">{% trans "Buildings" %}</a></li>
									<li><a href="/ingame/cannons.html">{% trans "Cannons" %}</a></li>
									<li><a href="/ingame/ships.html">{% trans "Ships" %}</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Community" %}
									{% if player.unreadMessagesCount > 0 %} ({{player.unreadMessagesCount}}){%endif%}
									<b class="caret"></b>
								</a>
								<ul class="dropdown-menu">
									<li><a href="http://www.nogane.net/projects/dronewars">nogane.net</a></li>
									<li><a href="/ingame/messages.html">{% trans "Messages" %}
										{% if player.unreadMessagesCount > 0 %} ({{player.unreadMessagesCount}}){%endif%}
										</a>
									</li>
									<li><a href="/ingame/friends.html">{% trans "Friends" %}</a></li>
									<li><a href="/ingame/alliance.html">{% trans "Alliance" %}</a></li>
								</ul>
							</li>
							<li class="divider-vertical"></li>
							<li><a href="/ingame/account.html" class="tab"><i class="glyphicon glyphicon-user"></i></a></li>
							<li><a href="/" class="tab"><i class="glyphicon glyphicon-off"></i></a></li>
							<li class="divider-vertical"></li>
							{% if timeInfo %}
							<li><p class="navbar-text">{% trans "Next round :" %} 
								<span id="roundleft" title="{{timeInfo|roundtimeleft|unlocalize}}">0</span>
								</p>
							</li>
							{% endif %}
						</ul>
					</div>
			</nav>
			<div class="container">
				<div class="row">
					{% if helpMessage %}
					<div class="col-md-4 col-md-offset-1 tutorial">{{helpMessage|safe}}</div>
					{% endif %}
				</div>
			</div>
			{% block content %}{% endblock %}

			<!--
				<footer>
				<p>
					&copy; Copyright  by Loïc HAMOT
				</p>
			</footer>
			-->
<script type="text/javascript">
start = new Date();
function countdown(eltname)
{
	function zeroPad(num, places) {
		var zero = places - num.toString().length + 1;
		return Array(+(zero > 0 && zero)).join("0") + num;
	}
	window.setTimeout("countdown(\"" + eltname + "\");", 1000);
	now = new Date();
	element = document.getElementById(eltname);
	if(!element)
		return;
	secLeft = element.title;
	s = Math.round(secLeft - ((now.getTime() - start.getTime()) / 1000.));
	m=0; h=0;
	if(s < 0) 
		element.innerHTML="-";
	else
	{
		if(s > 59) {m = Math.floor(s / 60); s = s - (m * 60);}
		if(m > 59) {h = Math.floor(m / 60); m = m - h * 60;}
		if(h > 0)
			element.innerHTML = zeroPad(h, 2) + ":" + zeroPad(m, 2) + ":" + zeroPad(s, 2);
		else if(m > 0)
			element.innerHTML = zeroPad(m, 2) + ":" + zeroPad(s, 2);//sprintf(format, dict);
		else
			element.innerHTML = zeroPad(s, 2);//sprintf(format, dict);
	}
}
countdown("roundleft");
</script>			
{% endblock %}