{% extends "ingame_base.html" %}

{% load i18n %}

{% load tmp_filters %}

{% block content %}

<div class="container">

<div class="row">
<div class="col-md-8 col-md-offset-2">
<table class="table">
	{% for message in messages %}
	<tr>
		<th>{% trans "Send by"%}</th>
		<th>{% trans "Subject"%}</th>
		<th>{% trans "Options"%}</th>
	</tr>
	<tr>
		<td>{{message.sender|playerlink:message.senderLogin|safe}}</td>
		<td>{{message.subject}}</td>
		<td><a href="/ingame/messages.html?delete={{message.id}}" class="btn btn-danger">{% trans "Delete" %}</a></td>		
	</tr>
	<tr>
		<td colspan="3">{{message.message}}</td>
	</tr>
	{% endfor %}
</table>
</div>
</div>
</div>

{% endblock %}