{% extends "ingame_base.html" %}

{% load i18n %}

{% load tmp_filters %}

{% block planets_class %}active{% endblock %}

{% block content %}
<div class="container">
<div class="row">
<div class="span5">
<table class="table table-condensed">
<tr>
	<th>{% trans "View" %}</th><th>{% trans "Name" %}</th><th>{% trans "Coordinate" %}</th><th>{% trans "Ressources" %}</th>
</tr>
{% for planet in planetList %}
<tr onclick="document.location.href='?planet_coord={{planet.coord.X}}_{{planet.coord.Y}}_{{planet.coord.Z}}'">
	<td>
		<img src="{{ STATIC_URL }}img/Planetes/min{{planet.imgNumber|stringformat:"03d"}}.jpg" />
	</td>
	<td><a href="?planet_coord={{planet.coord.X}}_{{planet.coord.Y}}_{{planet.coord.Z}}">{{planet.name}}</a></td>
	<td>X:{{planet.coord.X}}<br/>Y:{{planet.coord.Y}}<br/>Z:{{planet.coord.Z}}</td>
	<td>M:{{planet.ressourceSet.tab.0}}<br/>C:{{planet.ressourceSet.tab.1}}<br/>L:{{planet.ressourceSet.tab.2}}</td>
</tr>
{% endfor %}
</table>
</div>

{% if planet != None %}
<div class="span4">
<table class="table table-condensed">
	<caption>{% trans "Tasks" %}</caption>
	<tr><th>{% trans "Type" %}</th><th>{% trans "Time left" %}</th><th>{% trans "What" %}</th></tr>
	{% for task in planet.taskQueue %}
	<tr><td>{{task.type|planettaskname}}</td>
		<td id="countdown_dashboard_{{forloop.counter0}}" style="width: 70px">
			<!--<div class="dash weeks_dash">
				<span class="dash_title">weeks</span>
				<div class="digit">0</div>
				<div class="digit">0</div>
			</div>-->
			{% if task|timeleft:timeInfo > 86400 %}
			<div class="dash days_dash">
				<span class="dash_title">&nbsp;{% trans "days" %}&nbsp;</span>
				<div class="digit">0</div>
				<div class="digit">0</div>
			</div>
			{% endif %}
			<div class="dash hours_dash">
				<span class="dash_title">:</span>
				<div class="digit">0</div>
				<div class="digit">0</div>
			</div>
			<div class="dash minutes_dash">
				<span class="dash_title">:</span>
				<div class="digit">0</div>
				<div class="digit">0</div>
			</div>
			<div class="dash seconds_dash">
				<span class="dash_title"></span>
				<div class="digit">0</div>
				<div class="digit">0</div>
			</div>
			<script>
			jQuery(document).ready(function() {
				$('#countdown_dashboard_{{forloop.counter0}}').countDown({
					targetOffset: {
						'day': 		0,
						'month': 	0,
						'year': 	0,
						'hour': 	0,
						'min': 		0,
						'sec': 		{{task|timeleft:timeInfo|floatformat:0}}
					}
				});
			});
			</script>
		</td>
		<td>{{task|planettasktarget}}</td></tr>
	{% endfor %}
</table>
<table class="table table-condensed">
	<caption>{% trans "Buildings" %}</caption>
	<tr><th>{% trans "Name" %}</th><th>{% trans "Level" %}</th></tr>
	{% for level in planet.buildingList %}
	<tr><td>{{forloop.counter0|buildingname}}</td><td>{{level}}</td></tr>
	{% endfor %}
</table>
<table class="table table-condensed">
	<caption>{% trans "Cannons" %}</caption>
	<tr><th>{% trans "Name" %}</th><th>{% trans "Level" %}</th></tr>
	{% for level in planet.cannonTab %}
	<tr><td>{{forloop.counter0|cannonname}}</td><td>{{level}}</td></tr>
	{% endfor %}
</table>
</div>
<div class="span3">
<h1>{{planet.name}}</h1>
<img class="img-polaroid" src="{{ STATIC_URL }}img/Planetes/pl{{planet.imgNumber|stringformat:"03d"}}.jpg"/>
</div>
{% endif %}
</div>
</div>
{% endblock %}