{% extends "ingame_base.html" %}

{% load i18n %}

{% load l10n %}

{% load tmp_filters %}

{% block planets_class %}active{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="span12">
			<div class="pagination">
				<ul>
					{% if prevpage < 0 %}
					<li class="disabled"><a class="btn-inverse">Prev</a></li>
					{% else %}
					<li><a class="btn-inverse" href="?page={{prevpage}}&sort={{sort}}&asc={{asc}}">Prev</a></li>
					{% endif %}
					
					{% for i in pageList %}
					{% if i == currentpage %}
					<li class="disabled"><a class="btn-inverse">{{i}}</a></li>
					{% else %}
					<li><a class="btn-inverse" href="?page={{i}}&sort={{sort}}&asc={{asc}}">{{i}}</a></li>
					{% endif %}
					{% endfor %}
					
					{% if nextpage >= pagecount %}
					<li class="disabled"><a class="btn-inverse">Next</a></li>
					{% else %}
					<li><a class="btn-inverse" href="?page={{nextpage}}&sort={{sort}}&asc={{asc}}">Next</a></li>
					{% endif %}
				</ul>
			</div>
		</div>
		<div class="span8 offset2">
			<table class="table table-condensed">
				<tr>
					<th>{% trans "View" %}</th>
					<th><a href="?page={{currentpage}}&sort=0&asc={{titleOrder.0}}">{{titleAfter.0|safe}}{% trans "Name" %}</a></th>
					<th><a href="?page={{currentpage}}&sort=1&asc={{titleOrder.1}}">{{titleAfter.1|safe}}X</a></th>
					<th><a href="?page={{currentpage}}&sort=2&asc={{titleOrder.2}}">{{titleAfter.2|safe}}Y</a></th>
					<th><a href="?page={{currentpage}}&sort=3&asc={{titleOrder.3}}">{{titleAfter.3|safe}}Z</a></th>
					<th><a href="?page={{currentpage}}&sort=4&asc={{titleOrder.4}}">{{titleAfter.4|safe}}M</a></th>
					<th><a href="?page={{currentpage}}&sort=5&asc={{titleOrder.5}}">{{titleAfter.5|safe}}C</a></th>
					<th><a href="?page={{currentpage}}&sort=6&asc={{titleOrder.6}}">{{titleAfter.6|safe}}L</a></th>
				</tr>
				{% for planet in planetList %}
				<tr onclick="document.location.href='planet.html?planet_coord={{planet.coord.X}}_{{planet.coord.Y}}_{{planet.coord.Z}}'">
					<td>
						<img src="{{ STATIC_URL }}{{planet|img_path:'min'}}" width="40"/>
					</td>
					<td><a href="planet.html?planet_coord={{planet.coord.X}}_{{planet.coord.Y}}_{{planet.coord.Z}}">{{planet.name}}</a></td>
					<td>{{planet.coord.X}}</td><td>{{planet.coord.Y}}</td><td>{{planet.coord.Z}}</td>
					<td>{{planet.ressourceSet.tab.0}}</td><td>{{planet.ressourceSet.tab.1}}</td><td>{{planet.ressourceSet.tab.2}}</td>
				</tr>
			{% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock %}