{% extends "ingame_base.html" %}

{% load tmp_filters %}

{% block reports_class %}active{% endblock %}

{% block content %}
<div class="container">
<div class="row">
<div class="span6">
<table class="table">
<tr>
	<th>Time</th><th>Type</th><th>Message</th>
</tr>
{% for event in player.eventList %}
<tr>
	<td>{{event.time|int2datetime|date:"DATETIME_FORMAT"}}</td><td>{{event.type|eventname}}</td><td>{{event.comment}}</td>
</tr>
{% endfor %}
</table>
</div>
</div>
</div>
{% endblock %}