{% extends "ingame_base.html" %}

{% load i18n %}

{% load tmp_filters %}

{% block reports_class %}active{% endblock %}

{% block content %}
<div class="container page">
	<br/>
	<div class="row">
		{% if target_event %}
		<div class="col-md-6">
		{% else %}
		<div class="col-md-8 col-md-offset-2">
		{% endif %}
			<div class="panel panel-default">
				<table class="table table-striped table-condensed table-hover">
				<thead>
					<tr>
						<th>Time</th><th>Type</th><th>Message</th>
					</tr>
				</thead>
				{% for event in eventList %}
				<tr onclick="document.location.href='?event_id={{event.id}}'">
					<td>{{event.time|int2datetime|date:"DATETIME_FORMAT"}}</td><td>{{event.type|eventname}}</td><td>{{event.comment}}</td>
				</tr>
				{% endfor %}
				</table>
			</div>
		</div>
		{% if target_event %}
		<div class="col-md-6">
			<div class="panel panel-default">
				{% include "report_func.html" %}
			</div>
		</div>
		{% endif %}
	</div>
</div>
{% endblock %}