{% extends "ingame_base.html" %}

{% load i18n %}

{% load tmp_filters %}

{% block reports_class %}active{% endblock %}

{% block content %}
<div class="container">
<div class="row">
<div class="span6">
<table class="table">
<tr>
	<th>Time</th><th>Type</th><th>Message</th>
</tr>
{% for event in player.eventList %}
<tr onclick="document.location.href='?event_id={{event.id}}'">
	<td>{{event.time|int2datetime|date:"DATETIME_FORMAT"}}</td><td>{{event.type|eventname}}</td><td>{{event.comment}}</td>
</tr>
{% endfor %}
</table>
</div>
{% if target %}
<div class="span6">
	<h1>{{target.type|eventname}}</h1>
	<table class="table">
	{% if target.type == Event_Type.FleetWin or target.type == Event_Type.FleetLose or target.type == Event_Type.PlanetLose or target.type == Event_Type.PlanetWin %}
	{% for fleetReport in fight_report.fleetList %}
	<table class="table">
		<tr><th>{% trans "Fleet ID" %}</td><td>{{fleetReport.fightInfo.before.id}}</td></tr>
		<tr><th>{% trans "Player" %}</td><td>{{fleetReport.fightInfo.before.playerId}}</td></tr>
		<tr><th>{% trans "Has fight" %}</td><td>{% if fleetReport.hasFight %}{% trans "Yes" %}{% else %}{% trans "No" %}{% endif %}</td></tr>
		<tr><th>{% trans "Is dead" %}</td><td>{% if fleetReport.isDead %}{% trans "Yes" %}{% else %}{% trans "No" %}{% endif %}</td></tr>
		<tr><th>{% trans "Start" %}</td><td>{{fleetReport.fightInfo.before|content}}</td></tr>
		<tr><th>{% trans "End" %}</td><td>{{fleetReport.fightInfo.after|content}}</td></tr>
		<tr><th>{% trans "Report ID" %}</td><td>{{target.value}}</td></tr>
	</table>
	{% endfor %}
	{% if fight_report.hasPlanet == True %}
	<table class="table">
		<tr><th>{% trans "Planet coordinate" %}</td><td>{{fight_report.planet.coord2}}</td></tr>
		<tr><th>{% trans "Player" %}</td><td>{{fight_report.planet.fightInfo.after.playerID}}</td></tr>
		<tr><th>{% trans "Has fight" %}</td><td>{% if fight_report.planet.hasFight %}{% trans "Yes" %}{% else %}{% trans "No" %}{% endif %}</td></tr>
		<tr><th>{% trans "Is dead" %}</td><td>{% if fight_report.planet.isDead %}{% trans "Yes" %}{% else %}{% trans "No" %}{% endif %}</td></tr>
		<tr><th>{% trans "Start" %}</td><td>{{fight_report.planet.fightInfo.before|content}}</td></tr>
		<tr><th>{% trans "End" %}</td><td>{{fight_report.planet.fightInfo.after|content}}</td></tr>
		<!--<tr><td>{% trans "Report ID" %}</td><td>{{target.value}}</td></tr>-->
	</table>
	{% endif %}
	{% endif %}
	</table>
</div>
{% endif %}
{% if target.type == Event_Type.FleetCodeError or target.type == Event_Type.FleetCodeExecError or target.type == Event_Type.PlanetCodeError or target.type == Event_Type.PlanetCodeExecError %}
<p class="text-error span6"><strong>{{target.comment}}</strong></p>
{% endif %}
</div>
</div>
{% endblock %}