{% load tmp_filters %}
{% load i18n %}
			{% if target_event.type == Event_Type.FleetWin or target_event.type == Event_Type.FleetLose or target_event.type == Event_Type.PlanetLose or target_event.type == Event_Type.PlanetWin or target_event.type == Event_Type.FightAvoided %}
			<h1>{{target_event.type|eventname}}</h1>
			{% if not fight_report %}
			<div class="alert">
    			<button type="button" class="close" data-dismiss="alert">&times;</button>
    			{% trans "No blackbox was found" %}
    		</div>
    		{% else %}
    		<h2>{% trans "Coordinate" %}({{fight_report.coord.X}},{{fight_report.coord.Y}},{{fight_report.coord.Z}})</h2>
			{% endif %}
			{% for fleetReport in fight_report.fleetList %}
			<table class="table {{fleetReport|allyOrEnemy:player}} {{fleetReport|winnerOrLooser}}">
				<tr><th>{% trans "Fleet ID" %}</th><td>{{fleetReport.fightInfo.before.id}}</td></tr>
				<tr><th>{% trans "Player" %}</th><td>{{fleetReport.fightInfo.before.playerId|playerlink:fleetReport.fightInfo.before.playerLogin|safe}}</td></tr>
				<tr><th>{% trans "Wanted escape" %}</th><td>{% if fleetReport.wantEscape %}{% trans "Yes" %}{% else %}{% trans "No" %}{% endif %}</td></tr>
				{% if fleetReport.wantEscape %}
				<tr><th>{% trans "Escape probability" %}</th><td>{{fleetReport.escapeProba|mult:100|floatformat:0}}%</td></tr>
				{% endif %}
				<tr><th>{% trans "XP" %}</th><td>{{ fleetReport.experience }}</td></tr>
				<tr><th>{% trans "Start" %}</th><td>{{fleetReport.fightInfo.before|content}}</td></tr>
				<tr><th>{% trans "End" %}</th><td>{{fleetReport.fightInfo.after|content}}</td></tr>
				<!--<tr><th>{% trans "Report ID" %}</td><td>{{target_event.value}}</td></tr>-->
			</table>
			{% endfor %}
			{% if fight_report.planet %}
			<table class="table {{fight_report.planet|allyOrEnemy:player}} {{fight_report.planet|winnerOrLooser}}">
				<tr>
					<th>{% trans "Planet name" %}</th>
					<td><img src="{{ STATIC_URL }}{{fight_report.planet.fightInfo.before|img_path:'min'}}" width="40"/>{{fight_report.planet.fightInfo.before.name}}</td>
				</tr>
				{% if fight_report.planet.fightInfo.after.playerId %}
				<tr><th>{% trans "Player" %}</th><td>{{fight_report.planet.fightInfo.after.playerId|playerlink:fight_report.planet.fightInfo.after.playerLogin|safe}}</td></tr>
				{% else %}
				<tr><th>{% trans "Player" %}</th><td>-</td></tr>
				{% endif %}
				<tr><th>{% trans "XP" %}</th><td>{{ fight_report.planet.experience }}</td></tr>
				<tr><th>{% trans "Start" %}</th><td>{{fight_report.planet.fightInfo.before|content}}</td></tr>
				<tr><th>{% trans "End" %}</th><td>{{fight_report.planet.fightInfo.after|content}}</td></tr>
				<!--<tr><td>{% trans "Report ID" %}</td><td>{{target_event.value}}</td></tr>-->
			</table>
			{% endif %}
			{% if target_event.type == Event_Type.FightAvoided %}
			<h2>{% trans "Escape probability"%} : {{target_event.value2|div:10000}}%</h2>
			{% endif %}
			{% endif %}
			{% if target_event.type == Event_Type.FleetCodeError or target_event.type == Event_Type.FleetCodeExecError or target_event.type == Event_Type.PlanetCodeError or target_event.type == Event_Type.PlanetCodeExecError %}
			<h1>{{target_event.type|eventname}}</h1>
			<br>
			<div class="alert alert-danger">
				<!--<h4>{{target_event.type|eventname}}</h4>-->
    			{{target_event.comment}}
    		</div>			
			{% endif %}
	