{% extends "ingame_base.html" %}

{% load i18n %}

{% load tmp_filters %}

{% block score_class %}active{% endblock %}

{% block content %}

<div class="container">
<div class="row">
<div class="span6">
<table class="table">
	<tr><th>{% trans "Index" %}</th><th><a href="?sort_order=login&asc={{asc}}">{% trans "Name" %}</a></th><th><a href="?sort_order=score&asc={{asc}}">{% trans "Score" %}</a></th></tr>
	{% for player in players %}
	<tr><td>{{forloop.counter}}</td><td>{{player.login}}</td><td>{{player.score}}</td></tr>
	{% endfor %}
</table>
</div>
</div>
</div>

{% endblock %}