{% extends "ingame_base.html" %}

{% load i18n %}

{% load tmp_filters %}

{% block skills_class %}active{% endblock %}

{% block content %}
<div class="container page">
	<br/>
	<div class="row">
		<div class="col-md-1 col-md-offset-1">{{prev_skill_point}}</div>
		<div class="col-md-8">
					<div class="progress progress-striped active">
					  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{skill_point_progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{skill_point_progress}}%;">
					    {% trans "Current experience" %} : {{player.experience}}
					  </div>
					</div>
		</div>
		<div class="col-md-1">{{next_skill_point}}</div>
	</div>
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="panel panel-default">
				<div class="panel-heading"><h2>{% trans "Skill points" %} : {{player.skillpoints}}</h2></div>
				<table class="table table-striped table-condensed">
				<thead>
					<tr>
						<th>{% trans "Name" %}</th>
						<th>{% trans "Level" %}</th>
						<th>{% trans "Up" %}</th>
						<th>{% trans "Current level" %}</th>
						<th>{% trans "Next level" %}</th>
					</tr>
				</thead>
				{% for skill in skill_list %}
				{% if forloop.counter0 != 3 %}
				<tr>
					<td onclick="document.location.href='?skill_id={{forloop.counter0}}'">{{skill.name}}</td>
					<td>{{skill.level}}</td>
					<td>
					{% if skill.canUpdate %}
						<a class="btn btn-success" href="?buySkill={{forloop.counter0}}">{% trans "Cost : " %} {{skill.cost}}</a>
					{% endif %}
					</td>
					<td>{{skill.effectMessage}}</td>
					<td>{{skill.nextLevelMessage}}</td>
				</tr>
				{% endif %}
				{% endfor %}
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}