{% extends "ingame_base.html" %}

{% load i18n %}

{% load tmp_filters %}

{% block skills_class %}active{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-10">
			<h2>{% trans "Skill points" %} : {{player.skillpoints}}</h2>
			<table class="table">
			<tr>
				<th>{% trans "Name" %}</th>
				<th>{% trans "Level" %}</th>
				<th>{% trans "Up" %}</th>
				<th>{% trans "Current level" %}</th>
				<th>{% trans "Next level" %}</th>
			</tr>
			{% for skill in skill_list %}
			<tr>
				<td onclick="document.location.href='?skill_id={{forloop.counter0}}'">{{skill.name}}</td>
				<td>{{skill.level}}</td>
				<td>
				{% if skill.canUpdate %}
					<a class="btn btn-success" href="?buySkill={{forloop.counter0}}">{% trans "Cost : " %} {{skill.cost}}</a>
				{% endif %}
				</td>
				<td>{{skill.effectMessage}}</td>
				<td>{{skill.nextLevelMessage}}</td>
			</tr>
			{% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock %}