{% extends "codesview.html" %}

{% load i18n %}

{% block header_adds %}
    <meta charset="utf-8">
    <script type="text/javascript" src="/static/blockly/blockly_compressed.js"></script>
    <script type="text/javascript" src="/static/blockly_adds/language/fr/_messages.js"></script>
    <script type="text/javascript" src="/static/blockly_adds/generators/lua.js">           </script>
    <script type="text/javascript" src="/static/blockly_adds/generators/lua/control.js">   </script>
    <script type="text/javascript" src="/static/blockly_adds/generators/lua/text.js">      </script>
    <script type="text/javascript" src="/static/blockly_adds/generators/lua/lists.js">     </script>
    <script type="text/javascript" src="/static/blockly_adds/generators/lua/logic.js">     </script>
    <script type="text/javascript" src="/static/blockly_adds/generators/lua/math.js">      </script>
    <script type="text/javascript" src="/static/blockly_adds/generators/lua/procedures.js"></script>
    <script type="text/javascript" src="/static/blockly_adds/generators/lua/variables.js"> </script>
    <script type="text/javascript" src="/static/blockly_adds/language/fr/dronewars.js">    </script>
    <script type="text/javascript" src="/static/blockly_adds/language/common/dronewars.js"></script>

	{% block language_adds %}{% endblock %}

    <style>
      .blocklySvg {
        height: 100%;
        width: 100%;
      }
    </style>
{% endblock %}

{% block code_content %}
<div id="blocklyDiv" style="height: 60%; width: 95%; border: 1px solid #ccc">
</div>
<script>
	// Whitelist of blocks to keep.
	var newLanguage = {};
	
	{% block whitelist %}{% endblock %}
	
	if(keepers.length != 0) {
		for (var x = 0; x < keepers.length; x++) {
		  newLanguage[keepers[x]] = Blockly.Language[keepers[x]];
		}
	
		Blockly.Language = newLanguage;
	}
  
	Blockly.inject(document.getElementById('blocklyDiv'), { path: '/static/blockly/' });
	var xml_text = "{{codeData.blocklyCode|escapejs}}";
	var xml = Blockly.Xml.textToDom(xml_text);                       
	Blockly.Xml.domToWorkspace(Blockly.mainWorkspace, xml);
</script>
<div class="container">
	<div class="row">
		<div class="span6">
			<input class="btn btn-primary" type="submit" value="{% trans "Import" %}" name="import_button" 
				onclick="
					var xml_text = prompt('Load', '');
					var xml = Blockly.Xml.textToDom(xml_text);
					Blockly.Xml.domToWorkspace(Blockly.mainWorkspace, xml);"/>
			<input class="btn btn-primary" type="submit" value="{% trans "Export" %}" name="export_button"
				onclick="
					var xml = Blockly.Xml.workspaceToDom(Blockly.mainWorkspace);
					var xml_text = Blockly.Xml.domToText(xml);
					alert(xml_text);"/>
			<input class="btn btn-primary" type="submit" value="{% trans "Reload" %}" name="reload_button" onclick="document.location.href=''"/>
			<input class="btn btn-primary" type="submit" value="{% trans "Save" %}" name="save_button" onclick="
					try
					{
						var code = window.Blockly.Generator.workspaceToCode('lua');
						document.getElementById('scriptXML').value = code;
						var xml = Blockly.Xml.workspaceToDom(Blockly.mainWorkspace);
						var xml_text = Blockly.Xml.domToText(xml);
						document.getElementById('blocklyXML').value = xml_text;
						document.getElementById('saveBlocklyForm').submit();
					}
					catch(error)
					{
						errorElt = document.getElementById('save_button_error')
						errorElt.value = error
						document.getElementById('saveBlocklyForm').submit();
					}
					"/>
		</div>
		<div class="span6">
			{% block help_button %}{% endblock %}
		</div>
		{%if codeData.lastError %}
		<div class="alert text-error span10">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<strong>{{codeData.lastError|safe}}</strong>
		</div>
		{% endif %}
		{%if message %}
		<div class="alert text-success span10">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<strong>{{message|safe}}</strong>
		</div>
		{% endif %}
	</div>
</div>
<form method="post" action="" id="saveBlocklyForm">
{% csrf_token %}
<input type="hidden" id="blocklyXML" name="blocklyXML" value=""/>
<input type="hidden" id="scriptXML" name="scriptXML" value=""/>
<input type="hidden" value="" name="save_button_error" id="save_button_error"/>
</form>
{% endblock %}
