{% extends "codesview/blockly.html" %}



{% block language_adds %}
		{% if level >= 1  %}<script type="text/javascript" src="/static/blockly/language/common/control.js"></script>{% endif %}
		{% if level >= 10 %}<script type="text/javascript" src="/static/blockly/language/common/text.js">          </script>{% endif %}
		{% if level >= 10 %}<script type="text/javascript" src="/static/blockly/language/common/lists.js">         </script>{% endif %}
		{% if level >= 0 %}<script type="text/javascript" src="/static/blockly/language/common/logic.js">         </script>{% endif %}
		{% if level >= 1 %}<script type="text/javascript" src="/static/blockly/language/common/math.js">          </script>{% endif %}
	    {% if level >= 0 %}<script type="text/javascript" src="/static/blockly/language/common/procedures.js">    </script>{% endif %}
	    {% if level >= 0 %}<script type="text/javascript" src="/static/blockly/language/common/variables.js">     </script>{% endif %}
	    {% if level >= 3 %}<script type="text/javascript" src="/static/blockly_adds/language/common/dronewars_Fleet.js">       </script>{% endif %}
	    {% if level >= 1 %}<script type="text/javascript" src="/static/blockly_adds/language/common/dronewars_Planet.js">      </script>{% endif %}
	    {% if level >= 3 %}<script type="text/javascript" src="/static/blockly_adds/language/common/dronewars_RessourceSet.js"></script>{% endif %}
	    {% if level >= 0 %}<script type="text/javascript" src="/static/blockly_adds/language/common/dronewars_Coord.js">       </script>{% endif %}
	    {% if level >= 0 %}<script type="text/javascript" src="/static/blockly_adds/language/common/dronewars_FleetAction.js"> </script>{% endif %}
{% endblock %}


{% block whitelist %}
	{% if level < 1  %}
	{% elif level < 2  %}
	{% elif level < 3  %}
	{% elif level < 4  %}
	var keepers = ['dronewars_fleetaction', 
		'procedures_defreturn', 'procedures_callreturn', 'procedures_ifreturn',
		'logic_boolean', 'math_number', 'logic_compare', 'variables_get'];
	{% elif level < 5  %}
	var keepers = ['dronewars_fleetaction', 'dronewars_ship_in_fleet', 
		'procedures_defreturn', 'procedures_callreturn', 'procedures_ifreturn',
		'logic_boolean', 'math_number', 'logic_compare', 'variables_get', 'math_arithmetic'];
	{% elif level < 6  %}
	var keepers = ['dronewars_fleetaction', 'dronewars_ship_in_fleet', 'dronewars_randDir',
		'procedures_defreturn', 'procedures_callreturn', 'procedures_ifreturn',
		'logic_boolean', 'math_number',	'logic_compare', 'variables_get', 'math_arithmetic'];
	{% elif level < 7  %}
	var keepers = [];
	{% elif level < 8  %}
	{% endif %}
{% endblock %}