{% extends "codesview.html" %}

{% block header_adds %}
<script type="text/javascript" src="{{ STATIC_URL }}CodeMirror/lib/codemirror.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}CodeMirror/mode/lua/lua.js"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}CodeMirror/lib/codemirror.css">
<link rel="stylesheet" href="{{ STATIC_URL }}CodeMirror/theme/cobalt.css">
{% endblock %}

{% block buttons %}
<form method="post" action="">
{% csrf_token %}
<div class="btn-group">
	<input class="btn btn-primary" type="submit" value="Reload" name="reload_button"/>
	<input class="btn btn-primary" type="submit" value="Save" name="save_button"/>
</div>
{% endblock %}

{% block messages %}
{%if codeData.lastError %}
<div class="alert alert-danger">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<strong>{{codeData.lastError|safe|linebreaksbr}}</strong>
</div>
{% endif %}
{%if message %}
<div class="alert alert-success">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	{{message}}
</div>
{% endif %}
{% endblock %}

{% block code_content %}
<textarea id="TextArea" name="TextArea">{{codeData.code}}</textarea>
<script>
	var editor = CodeMirror.fromTextArea(document.getElementById("TextArea"), {
	  tabMode: "indent",
	  matchBrackets: true,
	  lineNumbers: true,
	  theme: "cobalt",
	  onHighlightComplete: function(editor) {editor.save();}
	});
	editor.setSize("100%", "600px");
	window.editor = editor;
</script>
{% endblock %}
